/* images need to all have the same width and height */

/* style memory game container and front and back facing elements. will need flex box. position cards on top of each other*/

/* perspective: adds depth
transform-style: preserve 3d 
transition property*/

/* will need to hide the backface visibility + rotate front face 180 on Y */

/* 100x100px squares 300x400 square grid */

body {
    background-color: #2b2b46
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.instructions {
    height: 100px;
    width: 200px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-wrap: wrap;
    position: left;
    

}

.memory-game {
    height: auto;
    width: 100vw;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; */
    /* border: 2px red solid; */
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
    justify-content: center;
    gap: 10px;
    
    
}

.memory-card {
    
    
}

.front-face {
    padding: 5px;
    /* display: none; */
    
}

.back-face {
    padding: 5px;
    display: none;
    
  
}
