html,
body {
  background-color: #2b2b46;
  height: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.title {
  width: auto;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 1px 2px 1px #b34997, 1px 3px 1px #b34997, 1px 4px 1px #b34997,
    1px 10px 10px rgba(244, 244, 244, 0.2);
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
}

.layout {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
}

.instructions {
  text-align: center;
  width: 200px;
  color: white;
  flex-wrap: wrap;
  flex: 0 0 200px;
}

.memory-game {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px;
  justify-content: center;
  gap: 10px;
  perspective: 1000px;
}

.memory-card {
  transform-style: preserve-3d;
  transition: transform 0.5s;
  background: #b34997;
}

.question-mark {
  padding: 5px;
  /* display: none; */
}

.exercise {
  padding: 5px;
  display: none;
}

#result {
  width: auto;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 1px 2px 1px #b34997, 1px 3px 1px #b34997, 1px 4px 1px #b34997,
    1px 10px 10px rgba(244, 244, 244, 0.2);
  color: white;
  margin-top: 20px;
}